@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk');

@import url('https://fonts.googleapis.com/css2?family=Inter');

	



@tailwind base;
@tailwind components;
@tailwind utilities;

.filter-glow {
    filter: drop-shadow(0 0 2px #e5e2e7);
  }

  .filter-glow-logo {
    filter: drop-shadow(0 0 2px #eceded);
  }
  /* #e3a600  */

  .inter {
		font-family: "Inter", sans-serif;
	}
  
  .space-grotesk {
		font-family: "Space Grotesk", sans-serif;
	}
  
  .rgb-gradient {
		background-image: linear-gradient(to right, #00aeff, #ff007a, #ffff00, #00ff00);
	}

  .rgb-modal {
    background: linear-gradient(
        to right,
        rgba(0, 174, 255, 0.4),  /* Blue with 40% opacity */
        rgba(255, 0, 122, 0.4),  /* Pink with 40% opacity */
        rgba(255, 255, 0, 0.4),  /* Yellow with 40% opacity */
        rgba(0, 255, 0, 0.4)     /* Green with 40% opacity */
    );
}



  